{# Main sport #}
<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Main sports</h2>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-primary d-inline-flex align-items-center">
                        <i class="fas fa-plus-circle icon icon-xxs me-2 d-inline-flex align-items-center"></i>
                        <a href="{{ path('main_sport_new', {'id': sport_session.id }) }}" class="text-white">Add
                            main sport</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush table-hover">
                <thead class="thead-light">
                <tr>
                    <th class="border-bottom" scope="col">Type</th>
                    <th class="border-bottom" scope="col">Focus</th>
                    <th class="border-bottom" scope="col">Name</th>
                    <th class="border-bottom" scope="col">Location</th>
                    <th class="border-bottom" scope="col">Duration</th>
                    <th class="border-bottom" scope="col">Distance</th>
                    <th class="border-bottom" scope="col">Elevation Gain</th>
                    <th class="border-bottom" scope="col">Elevation Loss</th>
                    <th class="border-bottom" scope="col">Status</th>
                    <th class="border-bottom" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for main_sport in sport_session.mainSport %}
                    <tr>
                        <th class="text-gray-900" scope="row">
                            {{ main_sport.type.value }}
                        </th>
                        <th class="text-gray-900" scope="row">
                            <p class="badge bg-secondary">{{ main_sport.tag.value }}</p>
                        </th>
                        <th class="text-gray-900" scope="row">
                            {{ main_sport.name }}
                        </th>
                        <th class="text-gray-900" scope="row">
                            {{ main_sport.location }}
                        </th>
                        <td class="fw-bolder text-gray-500">
                            {{ main_sport.duration }} {{ duration_unit }}
                        </td>
                        <td class="fw-bolder text-gray-500">
                            {{ main_sport.distance }} {{ distance_unit }}
                        </td>
                        <td class="fw-bolder text-gray-500">
                            <div class="d-flex">
                                <svg class="icon icon-xs text-danger me-2" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                {{ main_sport.elevationGain }} {{ elevation_unit }}
                            </div>
                        </td>
                        <td class="fw-bolder text-gray-500">
                            <div class="d-flex">
                                <svg class="icon icon-xs text-success me-2" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                {{ main_sport.elevationLoss }} {{ elevation_unit }}
                            </div>
                        </td>
                        <td class="fw-bolder text-gray-500">
                            <p class="badge bg-info">
                                {{ main_sport.status.value }}
                            </p>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('main_sport_edit', {'id': main_sport.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {{ include('main_sport/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
