<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-lg-4 col-sm-6">
                        {{ form_start(form) }}


                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>


                        <div class="mb-3">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name, { 'attr': { 'class': 'alert alert-danger' } }) }}
                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.startDate) }}
                            {{ form_errors(form.startDate, { 'attr': { 'class': 'alert alert-danger' } }) }}
                            <div class="input-group">
                                <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs text-gray-600"
                                         fill="currentColor"
                                         viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </span>
                                    {{ form_widget(form.startDate, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.endDate) }}
                                {{ form_errors(form.endDate, { 'attr': { 'class': 'alert alert-danger' } }) }}
                                <div class="input-group">
                                <span class="input-group-text">
                                    <svg class="icon icon-xs text-gray-600"
                                         fill="currentColor"
                                         viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                              clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </span>
                                    {{ form_widget(form.endDate, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="form-check form-switch">
                                <label class="form-check-label" for="isDone">Mark as done</label>
                                {{ form_widget(form.isDone, { 'attr':
                                    {
                                        'class': 'form-check-input',
                                        'disabled': app.request.attributes.get('_route') is same as 'training_plan_edit'
                                        ? false : true
                                    }
                                }) }}
                            </div>

                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
