{% extends 'base.html.twig' %}

{% block title %}TrainingPlan index{% endblock %}

{% block body %}
    <h1>TrainingPlan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(training_plans, 'name', 'tp.name') }}</th>
                <th>{{ knp_pagination_sortable(training_plans, 'start date', 'tp.startDate') }}</th>
                <th>{{ knp_pagination_sortable(training_plans, 'end date', 'tp.endDate') }}</th>
                <th>{{ knp_pagination_sortable(training_plans, 'duration', 'tp.duration') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_plan in training_plans %}
            <tr>
                <td>{{ training_plan.name }}</td>
                <td>{{ training_plan.startDate ? training_plan.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ training_plan.endDate ? training_plan.endDate|date('d-m-Y') : '' }}</td>
                <td>{{ training_plan.duration }}</td>
                <td>
                    <a href="{{ path('training_plan_show', {'id': training_plan.id}) }}">show</a>
                    <a href="{{ path('training_plan_edit', {'id': training_plan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('training_plan_new') }}">Create new</a>

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(training_plans, 'base/pagination.html.twig') }}
    </div>
{% endblock %}
